
<!-- <div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">Dropdown options</h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="kt-section__info">
        Use <code>data-offset</code> or <code>data-reference</code> to change the location of the dropdown.
      </div>
      <div class="kt-section__content kt-section__content--border">
        <div class="d-flex">
          <div class="dropdown mr-1">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
              Offset
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->





<div class="dt-table">
  <div class="dt-row ph3 w-100">
    <div class="dtc pa1 b">Series: </div> 
    <div class="dtc pa1 b">
      <select [(ngModel)]="selectedSeries" style="width: 100%;" (ngModelChange)="selectedSeriesChanged($event)" [disabled]="!(seriesList?.length>0)">
        <option value="undefined" >Select...</option>
        <option *ngFor="let series of seriesList" [ngValue]="series">{{series.getDisplayValue()}}</option>
      </select> 
    </div> 
    <!-- <div class="dtc pa1 b">
      <p>{{selectedSeries?.seriesName}}</p>
    </div>  -->
  </div>

  <div class="dt-row ph3 w-100">
    <div class="dtc pa1 b">Story Line: </div> 
    <div class="dtc pa1 b">
      <select [(ngModel)]="selectedStoryLine" (ngModelChange)="selectedStoryLineChanged($event)" style="width: 100%;" [disabled]="!(storyLines?.length>0)">
        <option value="undefined" >[All]</option>
        <option *ngFor="let storyLine of storyLines" [ngValue]="storyLine" >{{storyLine.getDisplayValue()}}</option>
      </select> 
    </div> 
    <!-- <div class="dtc pa1 b">
      <p>{{selectedStoryLine?.storyLineName}}</p>
    </div>  -->
  </div>

  <div class="dt-row ph3 w-100">
    <div class="dtc pa1 b">Story Arc: </div> 
    <div class="dtc pa1 b">
      <select [(ngModel)]="selectedStoryArc" (ngModelChange)="selectedStoryArcChanged($event)" style="width: 100%;" [disabled]="!(storyArcs?.length>0)">
        <option value="undefined" >[All]</option>
        <option *ngFor="let storyArc of storyArcs" [ngValue]="storyArc">{{storyArc.getDisplayValue()}}</option>
      </select> 
    </div> 
    <!-- <div class="dtc pa1 b">
      <p>{{selectedStoryArc?.storyArcName}}</p>
    </div>  -->
  </div>

  <div class="dt-row ph3 w-100">
    <div class="dtc pa1 b">Issue: </div> 
    <div class="dtc pa1 b">
      <select [(ngModel)]="selectedIssue" style="width: 100%;" (ngModelChange)="selectedIssueChanged($event)" [disabled]="!(issues?.length>0)">
        <option value="undefined" >[All]</option>
        <option *ngFor="let issue of issues" [ngValue]="issue" >
          <!-- Multiplying float gets rid of trailing zeroes-->
          {{issue.issueNumber * 1}}
        </option>
      </select> 
    </div> 
    <!-- <div class="dtc pa1 b">
      <p>{{selectedIssue?.issueNumber}}</p>
    </div>  -->
  </div>

<hr>

<div class="dt-row ph3 w-100">
  <div class="dtc pa1 w-100">



  </div> 
</div>


<!-- <div class="dt-row ph3 w-100">
  <div class="dtc pa1 b ba w-25">Series</div> 
  <div class="dtc pa1 b ba w-25">Storyline</div> 
  <div class="dtc pa1 b ba w-25">Story Arc</div> 
  <div class="dtc pa1 b ba w-5">Issue Number</div> 
  <div class="dtc pa1 b ba w-5">Page Number</div> 
  <div class="dtc pa1 b ba w-15">Page Type</div> 
</div>
<ng-container *ngFor="let searchResultsRow of searchResults">
    <div class="dt-row ph3 w-100">
      <div class="dtc pa1 ba w-25">{{searchResultsRow.seriesName}}</div> 
      <div class="dtc pa1 ba w-25">{{searchResultsRow.storyLineName}}</div> 
      <div class="dtc pa1 ba w-25">{{searchResultsRow.storyArcName}}</div> 
      <div class="dtc pa1 ba w-5">{{searchResultsRow.issueNumber}}</div> 
      <div class="dtc pa1 ba w-5">{{searchResultsRow.PageNumber}}</div> 
      <div class="dtc pa1 ba w-15">{{searchResultsRow.PageType}}</div> 
    </div>
  </ng-container>
</div> -->

<div id="myGrid" class="ag-theme-alpine-dark">
  <ag-grid-angular w-100
    style="height: 500px;"
    class="ag-theme-alpine-dark"
    [rowData]="searchResults"
    [columnDefs]="columnDefs">  
  </ag-grid-angular>
</div>
