<nav class="border-box db dt-l w-100 pa3">
  <a class="f3 db dtc-l v-mid silver link dim w-100 w-30-l tc mb2 mb0-l" href="#" title="Home">
    <!-- <img src="http://tachyons.io/img/logo.jpg" class="dib w2 h2 br-100" alt="Site Name"> -->
    Angry Lemonade Productions
  </a>
  <div class="db dtc-l v-mid w-100 w-70-l tc tr-l">
    <a class="link dim silver f6 f5-l dib mr3 mr4-l" href="#" title="Home">Home</a>
    <a class="link dim silver f6 f5-l dib mr3 mr4-l" href="#" title="About">About</a>
  </div>
</nav>

<div class="flex flex-row ph3">
  <div class="w-100 mr2">
    <div class="border-box db dt-1 w-100 ph3 ph5-1">

      <nav class="ph3">
        <div class="pb1 f5">
          <span>
            <a class="link j-link mr3" href="#" (click)="mainMenuItem=MainMenuItemType.Widgets" routerLink="/widgetdashboard" routerLinkActive="active">Widgets</a>
            <a class="link j-link mr3" href="#" (click)="mainMenuItem=MainMenuItemType.Resources" routerLink="/resources" routerLinkActive="active">Resources</a>
            <a class="link j-link mr3" href="#" (click)="mainMenuItem=MainMenuItemType.Tech" routerLink="/tech" routerLinkActive="active">Tech</a>
            <a class="link j-link mr3" href="#" (click)="mainMenuItem=MainMenuItemType.Comics" routerLink="/comics" routerLinkActive="active">Comics</a>
          </span>
        </div>
        <ng-container *ngIf="getCurrentRoute()==MainMenuItemType.Widgets">
          <a class="link dim gray f6 f5-ns dib mr3" routerLink="/requestqueue">Request Queue</a>
          <a class="link dim gray f6 f5-ns dib mr3" routerLink="/webscraper">Web Scraper</a>
        </ng-container>
      </nav>

      <div class="ph3">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>

<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© 2016 <b class="ttu">SOME COMPANY Inc</b>., All Rights Reserved</small>
  <div class="tc mt3">
    <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
  </div>
</footer>
