<nav class="border-box db dt-l w-100 pa3">
  <a class="f3 db dtc-l v-mid silver link dim w-100 w-30-l tc mb2 mb0-l" href="#" title="Home">
    <!-- <img src="http://tachyons.io/img/logo.jpg" class="dib w2 h2 br-100" alt="Site Name"> -->
    Angry Lemonade Productions
  </a>
  <div class="db dtc-l v-mid w-100 w-70-l tc tr-l">
    <!-- <a class="link dim silver f6 f5-l dib mr3 mr4-l" href="#" title="Home">Home</a> -->
    <!-- <a class="link dim silver f6 f5-l dib mr3 mr4-l" href="#" title="About">About</a> -->
  </div>
</nav>

<div class="flex flex-row ph3">
  <div class="w-100 mr2">
    <div class="border-box db dt-1 w-100 ph3 ph5-1">
      <app-nav-bar></app-nav-bar>
      <div class="ph3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© 2020 Angry Lemonade Productions</small>
  <!-- <div class="tc mt3">
    <a href="/language/" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
    <a href="/privacy/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
  </div> -->
</footer>
