
		<!-- Header -->
		<div id="header-wrapper">
		
        	<div id="header" class="container">
            
            	<div id="logo">
                    <h1><a href="#">Angry Lemonade</a></h1>
                    <h3>Oooohhh... That's Sour!</h3>
                </div>
                <nav id="nav">
                    <ul>
                        <li class="current_page_item"><a href="index.html">Homepage</a></li>
                        <!-- <li><a href="twocolumn1.html">Right Sidebar</a></li>
                        <li><a href="twocolumn2.html">Left Sidebar</a></li>
                        <li><a href="onecolumn.html">No Sidebar</a></li> -->
                    </ul>
                </nav>
                
            </div>
			
			<!-- <div id="banner">
				<div class="container">
					<div class="row">
						<section class="12u">
							<header>
								<h2>In posuere eleifend odio quisque semper</h2>
								<span class="byline">Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis rutrum id, elementum congue. Suspendisse dictum porta lectus.</span>
							</header>
							<a href="#" class="button button-alt">Read More</a>
						</section>
					</div>
				</div>
			</div>			 -->

		</div>
		<!-- Header Ends Here -->
