<p>Serial Observable Requests</p>
<input type="button" (click)="go()" value="Go!"/>

<div class="container">
    <div class="row">
      <div class="col-sm-3">Value</div> 
      <div class="col-sm-3">Square Root</div> 
      <div class="col-sm-3">Square</div> 
      <div class="col-sm-3">Cube</div> 
    </div>
  </div>
  
  <div style="max-height: 375px; overflow-y: scroll;">
    <div class="container" *ngFor="let value of values">
    <div class="row">
        <div class="col-sm-3">{{value.Value}}</div> 
        <div class="col-sm-3">{{value.ValueSqrt}}</div> 
      <div class="col-sm-3">{{value.ValueSqared}}</div> 
      <div class="col-sm-3">{{value.ValueCubed}}</div> 
    </div>
  </div>
</div>
  