{{traceLog}}
<comic-search (storyLineFound)=foundStoryLineSearchResult($event)></comic-search>
<div class="fl w-80">
  <div id="myGrid" class="ag-theme-alpine">
    <ag-grid-angular w-100
      style="height: 400px;"
      class="ag-theme-alpine ag-row-hover"
      [rowData]="searchResults"
      [columnDefs]="columnDefs"
      [pagination]="true"
      [paginationPageSize]="50"
      (gridReady)="onGridReady($event)"
      [overlayLoadingTemplate]="overlayLoadingTemplate"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      >  
    </ag-grid-angular>
    <div class="test-header fr pt1">
      Page Size:
      <select (change)="onPageSizeChanged($event.target.value)" id="page-size">
        <option value="10" selected="">10</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
    </div>    
  </div>
</div>

      <!-- <div class="measure">
        <label for="name" class="f6 b db mb2">Name <span class="normal black-60">(optional)</span></label>
        <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
        <small id="name-desc" class="f6 black-60 db mb2">Helper text for the form control.</small>
      </div>
 -->

  <div class="ph3 fr w-20">
    <div class="dt-table">

      <div class="dt-row ph3 w-100">
        <div class="f6 b db mb2">Series</div>
      </div>
      <div class="dt-row ph3 w-100">
        <div class="dtc pb3">
          <select [(ngModel)]="selectedSeries" class="form-control form-control-sm" style="width: 100%;" class="ui-widget" (ngModelChange)="selectedSeriesChanged($event)" [disabled]="!(seriesList?.length>0)">
            <option value="undefined" >Select...</option>
            <option *ngFor="let series of seriesList" [ngValue]="series">{{series?.seriesName}}</option>
          </select> 
        </div> 
        <!-- <div class="dtc pa1 b">
          <p>{{selectedSeries?.seriesName}}</p>
        </div>  -->
      </div>
      
    <div class="dt-row ph3 w-100">
      <div class="f6 b db mb2">Story Line</div>
    </div>
    <div class="dt-row ph3 w-100">
      <div class="dtc pb3">
        <select [(ngModel)]="selectedStoryLine" class="form-control form-control-sm" (ngModelChange)="selectedStoryLineChanged($event)" class="ui-widget" style="width: 100%;" [disabled]="!(storyLines?.length>0)">
          <option value="undefined" >[All]</option>
          <option *ngFor="let storyLine of storyLines" [ngValue]="storyLine" >{{getStoryLineDisplayName(storyLine)}}</option>
        </select> 
      </div> 
    </div>


    <!-- <div class="dt-row ph3 w-100">
      <div class="dtc w-100">
        <span style="margin-left:10px">Story Line: {{storyLineTemp ? storyLineTemp.storyLineName||storyLineTemp : 'none'}}</span>
      </div>
    </div> -->
  
    <div class="dt-row ph3 w-100">
      <div class="f6 b db mb2">Story Arc</div>
    </div>
    <div class="dt-row ph3 w-100">
      <div class="dtc pb3">
        <select [(ngModel)]="selectedStoryArc" class="form-control form-control-sm" (ngModelChange)="selectedStoryArcChanged($event)" class="ui-widget" style="width: 100%;" [disabled]="!(storyArcs?.length>0)">
        <option value="undefined" >[All]</option>
        <option *ngFor="let storyArc of storyArcs" [ngValue]="storyArc">{{storyArc?.storyArcName ? storyArc.storyArcName : "Unnamed"}}</option>
      </select> 
    </div> 
  </div>
    
    <div class="dt-row ph3 w-100">
      <div class="f6 b db mb2">Issue</div>
    </div>
    <div class="dt-row ph3 w-100">
      <div class="dtc pb3">
        <select [(ngModel)]="selectedIssue" class="form-control form-control-sm" class="ui-widget" style="width: 100%;" (ngModelChange)="selectedIssueChanged($event)" [disabled]="!(issues?.length>0)">
        <option value="undefined" >[All]</option>
        <option *ngFor="let issue of issues" [ngValue]="issue" >
          {{issue.issueNumber * 1}}
        </option>
      </select> 
    </div> 
  </div>
    
</div> 
