<p-menubar [model]="items" [style]="{'border':'none'}"></p-menubar>
<!-- <nav class="ph3">
  <div class="pb1 f5">
    <span>
      <a class="link j-link mr3" href="#" (click)="mainMenuItem=MainMenuItemType.Widgets" routerLink="/widgetdashboard" routerLinkActive="active">Widgets</a>
      <a class="link j-link mr3" href="#" (click)="mainMenuItem=MainMenuItemType.Resources" routerLink="/resources" routerLinkActive="active">Resources</a>
      <a class="link j-link mr3" href="#" (click)="mainMenuItem=MainMenuItemType.Tech" routerLink="/tech" routerLinkActive="active">Tech</a>
      <a class="link j-link mr3" href="#" (click)="mainMenuItem=MainMenuItemType.Comics" routerLink="/comics" routerLinkActive="active">Comics</a>
    </span>
  </div>
  <ng-container *ngIf="getCurrentRoute()==MainMenuItemType.Widgets">
    <a class="link dim gray f6 f5-ns dib mr3" routerLink="/requestqueue">Request Queue</a>
    <a class="link dim gray f6 f5-ns dib mr3" routerLink="/webscraper">Web Scraper</a>
  </ng-container>
</nav> -->

