# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^api/storylines/$   			storyline-controller.php [nc,qsa]
RewriteRule ^api/storylines/([0-9]+)/$   	storyline-controller.php?storylineid=$1 [nc,qsa]